<p> Jazz is a music genre that originated in African American communities of New Orleans, United States, in the late 19th and early 20th centuries, and developed from roots in blues and ragtime. Jazz is characterized by swing and blue notes, call and response vocals, polyrhythms and improvisation. COmmon instruments used in Jazz performance</p>

  <ul>
    <button ng-click="ctrl.piano()">Piano</button>
    <button ng-click="ctrl.double_bass()">Double Bass</button>
    <button ng-click="ctrl.drums()">drums</button>
    <button ng-click="ctrl.guitar()">Guitar</button>
    <button ng-click="ctrl.saxophone()">Saxophone</button>
  </ul>
