<p> Strings are commonly used in traditional orchestras, New age, and smaller initmate performacne. Often considered the most versatile and emotional of the instrument famlies. common ones for traditional orchestra are:</p>

  <ul>
    <li ng-click="">Violin</button>
    <li ng-click="">Viola</li>
    <li ng-click="">Cello</li>
    <li ng-click="">Double Bass</li>
  </ul>

  <p> non-orchestral string instruments are:</p>

  <ul>
    <li ng-click="">Guitar</button>
    <li ng-click="">Banjo</li>
    <li ng-click="">Mandolin</li>
  </ul>
